.icon-back {
    top: 40px;
    left: 40px;
    position: absolute;
}

.icon-check {
    width: 55px;
    height: 1%;
    border: 1px solid var(--primary);
}

@media screen and (min-width:1440px) {
    .icon-check {
        /* display: block; */
        background: url('../icons/checkbox-circle-fill.svg');
        background-repeat: no-repeat;
        height: 100%;
        border: none;
    }
}