:root {
    --primary: #3182ce;
    --black: #333333;
    --white: #f7fafc;
    --bg: #f7fafc;
    --green: #38b2ac;
    --grey: #718096;
    --bg-blue: #012649;
    --subtitle-20medium: 500 1.25rem/normal Inter;
    --subtitle-20bold: 700 1.25rem/normal Inter;
    --body-16medium: 500 1rem/1.25rem Inter;
    --body-18medium: 500 1.125rem/normal Inter;
}

body {
    color: var(--black);
    background-color: var(--bg-blue);
    font: var(--body-18medium);
    margin: 0;
    padding: 0;
}

.wrapper {
    display: block;
    margin: auto;
    max-inline-size: 1320px;
    margin-block: 80px;
    border: 4px solid red;
    height: 100vh;
}

.order-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(328px, 513px));
    gap: 0;
    justify-content: center;
}

.details-order {
    border: 4px solid green;
    background-color: var(--bg);
}

.card-order {
    padding-inline: 16px;
    padding-block: 40px;
    border: 5px solid black;
}

.order-summary {
    border: 4px solid yellow;
    background-color: var(--bg);
}

.title-card {
    font: var(--subtitle-20medium)
}

label {
    color: var(--grey);
    font: var(--body-16medium);
}

input {
    background-color: #E2E8F0;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
    block-size: 64px;
    inline-size: 100%;
    margin-block-start: 8px;
    margin-block-end: 32px;
    padding-inline-start: 16px;
    padding-inline-end: 16px;
}

.extra-information-credit-card {
    display: flex;
    flex-direction: row;
    gap: 32px;
}

.extra-information-date {
    display: flex;
    flex-direction: row;
    gap: 22px;
    align-items: center;
}

@media screen and (min-width:1440px) {
    .order-container {
        display: grid;
        grid-template-columns: 777px 513px;
        gap: 30px;
    }
    .card-order {
        padding-inline: 173px;
        padding-block: 40px;
        border: 5px solid black;
    }
}