:root {
    --primary: #3182ce;
    --black: #333333;
    --white: #fff;
    --white10: #f7fafc;
    --bg: #f7fafc;
    --green: #38b2ac;
    --grey: #718096;
    --grey10: #E2E8F0;
    --bg-blue: #012649;
    --subtitle-20medium: 500 1.25rem/normal Inter;
    --subtitle-20bold: 700 1.25rem/normal Inter;
    --body-16medium: 500 1rem/1.25rem Inter;
    --body-18medium: 500 1.125rem/normal Inter;
}

body {
    color: var(--black);
    background-color: var(--bg-blue);
    font: var(--body-18medium);
    margin: 0;
    padding: 0;
}

.text-grey {
    color: var(--grey);
}

.text-primary {
    color: var(--primary);
}

.wrapper {
    display: block;
    margin: auto;
    max-inline-size: 1320px;
    margin-block: 80px;
    /* border: 4px solid red; */
    height: 100vh;
}

.order-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(328px, 513px));
    gap: 0;
    justify-content: center;
}

.details-order {
    /* border: 4px solid green; */
    background-color: var(--bg);
    /* border-radius: 10px; */
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: fit-content;
}

.card-order {
    padding-inline: 16px;
    padding-block: 40px;
    /* border: 5px solid black; */
}

.personal-information {
    margin-block-start: 32px;
}

.order-summary {
    /* border: 4px solid yellow; */
    background-color: var(--bg);
    /* border-radius: 10px; */
    border-end-start-radius: 10px;
    border-end-end-radius: 10px;
    height: fit-content;
}

.card-summary {
    padding-inline: 16px;
    padding-block: 40px;
}

.title-card {
    font: var(--subtitle-20medium);
    margin: 0px;
}

.title-product {
    margin-block-end: 16px;
    font: var(--subtitle-20medium);
}

label {
    color: var(--grey);
    font: var(--body-16medium);
}

input {
    background-color: var(--grey10);
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
    block-size: 64px;
    inline-size: 100%;
    margin-block-start: 8px;
    margin-block-end: 32px;
    padding-inline-start: 16px;
    padding-inline-end: 16px;
}

p {
    margin: 0px;
}

.extra-information-credit-card {
    display: flex;
    flex-direction: row;
    gap: 32px;
}

.extra-information-date {
    display: flex;
    flex-direction: row;
    gap: 22px;
    align-items: center;
}

.button-options {
    display: flex;
    flex-direction: row;
    justify-content: right;
    margin-block-start: 5px;
    gap: 3px;
}

.btn {
    border: none;
    border-radius: 10px;
    padding-block: 20px;
    padding-inline: 27px;
    cursor: pointer;
    background-color: var(--bg);
}

.btn-login,
.btn-details-send,
.btn-continue-pay,
.btn-pay-order {
    background-color: var(--primary);
    color: var(--white10);
}

.btn-details-send,
.btn-continue-pay,
.btn-pay-order {
    padding-inline: 56px;
    padding-block: 20px;
}

.container-image {
    text-align: center;
    background-color: var(--white);
    margin-block-start: 24px;
}

.btn-product {
    background-color: var(--grey10);
    color: var(--grey);
    padding-inline: 14px;
    padding-block: 12px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
    font-weight: bold;
    font-size: 16px;
}

.content-product-information {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    margin-block-end: 40px;
}

.count-product {
    margin-inline: 18px;
}

.d-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-block-end: 24px;
}

.product-cupon {
    display: flex;
    flex-direction: row;
    gap: 24px;
    justify-content: space-between;
    margin-block-start: 8px;
}

.input-text-cupon {}

.btn-aplicate-cupon {
    padding-inline: 56px;
    block-size: 64px;
    border: 2px solid var(--primary);
    color: var(--primary);
    border-radius: 10px;
}

.valueCupon {
    inline-size: 243px;
    block-size: 64px;
    background-color: var(--grey10);
    margin-block: 0px;
}

.labelValueCupon {
    margin-block-end: 8px;
}

.content-selection {
    margin-block-start: 24px;
    margin-block-end: 24px;
}

.content-selection div {
    padding-block: 16px;
    padding-inline: 16px;
    border: 2px solid var(--grey);
    border-radius: 4px;
    box-sizing: border-box;
    font: var(--body-16medium);
    margin-block-end: 8px;
    cursor: pointer;
}

.content-selection div p {
    inline-size: 267px;
    margin: 0;
}

.title-content-selection {
    margin-block-end: 8px;
}

.secondOption,
.thirdOption {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
}

.information-storage {
    margin-block-end: 0px;
}

.information-storage p {
    line-height: 60px;
    block-size: 60px;
}

.information-processor div[aria-selected="true"] {
    border: 2px solid var(--primary);
}

.information-storage div[aria-selected="true"] {
    border: 2px solid var(--primary);
}

.subtitle-20medium {
    font: var(--subtitle-20medium);
}

.subtitle-20bold {
    font: var(--subtitle-20bold);
}

.body-16medium {
    font: var(--body-16medium);
}

.body-18medium {
    font: var(--body-18medium);
}

@media screen and (min-width:1024px) {
    .order-container {
        gap: 30px;
    }
    .content-product-information {
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
    }
    .details-order {
        border-radius: 10px;
    }
    .order-summary {
        border-radius: 10px;
    }
}

@media screen and (min-width:1440px) {
    .order-container {
        display: grid;
        grid-template-columns: 777px 513px;
    }
    .card-order {
        padding-inline: 173px;
        padding-block: 40px;
        /* border: 1px solid red; */
    }
    .card-summary {
        padding-inline: 40px;
        padding-block: 40px;
    }
}