@import url('container.css');
@import url('card-order.css');
@import url('button.css');
@import url('icon.css');
@import url('input.css');
@import url('pay-container.css');
:root {
    --primary: #3182ce;
    --black: #333333;
    --red: #ff380b;
    --dark: #000;
    --white: #fff;
    --white10: #f7fafc;
    --bg: #f7fafc;
    --green: #38b2ac;
    --green10: #066952;
    --grey: #718096;
    --grey10: #E2E8F0;
    --bg-blue: #012649;
    --subtitle-20medium: 500 1.25rem/normal Inter;
    --subtitle-20bold: 700 1.25rem/normal Inter;
    --body-12medium: 500 0.8rem/1.25rem Inter;
    --body-16medium: 500 1rem/1.25rem Inter;
    --body-18medium: 500 1.125rem/normal Inter;
}

body {
    color: var(--black);
    background-color: var(--bg-blue);
    font: var(--body-18medium);
    margin: 0;
    padding: 0;
}

p {
    margin: 0px;
}

.wrapper {
    display: block;
    margin: auto;
    /* margin-block: 80px; */
    margin-inline: 16px;
}

.text-grey {
    color: var(--grey);
}

.text-primary {
    color: var(--primary);
}

.subtitle-20medium {
    font: var(--subtitle-20medium);
}

.subtitle-20bold {
    font: var(--subtitle-20bold);
}

.body-16medium {
    font: var(--body-16medium);
}

.body-18medium {
    font: var(--body-18medium);
}

.span-value::before {
    content: '$ ';
}

.span-value::after {
    content: '.00';
}

.subtotal-value-product::before,
.total-value-product::before {
    content: '$ ';
}

.subtotal-value-product::after,
.total-value-product::after {
    content: '.00';
}

.personal-information {
    margin-block-start: 32px;
}

.title-card {
    font: var(--subtitle-20medium);
    margin: 0px;
}

.title-product {
    margin-block-end: 16px;
    font: var(--subtitle-20medium);
}

.d-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-block-end: 24px;
}

.title-content {
    margin-block-end: 8px;
}

@media screen and (min-width:1440px) {
    .section-send::before {
        content: url(../icons/Minus.svg);
        margin-inline-end: 17px;
    }
    .section-send::after {
        content: url(../icons/Minus.svg);
        margin-inline-start: 17px;
    }
    .section-account::after {
        content: url(../icons/Minus.svg);
        margin-inline-start: 17px;
    }
    .section-pay::before {
        content: url(../icons/Minus.svg);
        margin-inline-end: 17px;
    }
}